.recent-post {
    .recent-post_title a {
        color: $color-grey-one;
    }
    .recent-post_topics {
        
    }
}

.post-topic {
    color: $color-grey-two;
    font-size: 14px;
    // font-weight: bold;
    text-align: left;
    margin-right: 6px;
}

.post-link {
    .post-link_box {

    }
    .post-link_link {

    }
}